@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
  --primary-color : #fafaf6;
  --secondary-color : #1b1b1d;
}

@keyframes imgUpOnLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',  sans-serif;
}

body{
  background: var(--secondary-color);
}

html{
  overflow-y:scroll;
}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

a{
  color: orange;
  text-decoration: none;
}

small{
  font-weight: 300;
}
.container{
  padding: 0 400px;
  margin: 0 auto;
}
.header{
  padding: 0 400px;
  margin: 0 auto;
  background-color: var(--primary-color);
  z-index: 8;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  animation: 0.4s ease-out 0s 1 imgUpOnLoad;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 125px;
  color:  var(--primary-color);
  width: 100%;
  height: auto;
}

.topic{
  flex: content;
  width: 220px;
  height: 800px;
}

.gallery{
  flex: 4;
  width: 100%;
  height: 100%;
}

.gallery--title--container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gallery--top{
  display: block;
  width: 100%;
  min-height: 140px ;
  animation: 0.4s ease-out 0s 1 imgUpOnLoad;
}

.gallery--title{
  display: block;
  font-weight: 400;
  font-size: 3rem;
  height: 100%;
  padding-right: 2rem;
}

.gallery--total{
  font-weight: 300;
  min-width: 58px;
  min-height: 37px;
  color: var(--primary-color);
}

.title{
  font-size: 3rem;
  display: inline;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-gap: 1rem;
  align-items: center;
}
.label {
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.input-search {
  font-size: 1rem;
  padding: 0rem 1.2rem;
  line-height: 2.8rem;
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
}

.input-search:focus{
  outline: none;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.input-search {
  margin-bottom: 0;
}

.card--list {
  padding-top: 2rem;
  column-count: 3;
  gap: 1rem;
  max-width: 4000px;
  min-height: 1000px;
}


.card {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside:avoid;
  -moz-page-break-inside:avoid;
  page-break-inside: avoid;
  animation: 0.4s ease-out 0s 1 imgUpOnLoad;
  min-width: 100%;
  min-height: 100%;
}

.card--image {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.card--description{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0;
  color: white;
}

.card--likes{
  font-size: 1rem;
  font-weight: 300;
  color: lightgray;
}

.card:hover > .card--description{
  opacity: 1;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.card:hover > .card--image{
  filter: brightness(50%);
  transition: all 0.4s ease-out ;
}

.card--description a{
  color: white;
}

.card--description .name{
 font-weight: 500;
}

.topic--list {
  position: fixed;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

li.topic--item{
  margin-right: auto;
  list-style: none;
  width: auto;
  display: inline;
  animation: 0.4s ease-out 0s 1 imgUpOnLoad;
}

.topic--item a{
  color:  var(--primary-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.1rem 0;
}

.loader{
  color: rgb(90, 89, 86);
  font-weight: 300;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input-search {
    margin-bottom: 0;
  }
  .container{
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  .card--list{
    column-count: 2;
  }
}

@media only screen and (max-width: 600px) {
    .card--list {
        column-count: 1;
    }
    .container{
      width: 100%;
      padding: 1rem;
      margin: 0;
    }
}
